{{ define "main" }}

<div class = "single-or-list-content">

<h2 class = "single-page-title">{{ .Title }}</h2>

<p class="single-page-datetime">
  {{ .Params.event_date }}<br/>{{ .Params.event_time }}
</p>

{{ .Content }}

<div class = "rra-programme">
  {{ range .Pages.ByPublishDate }}

    <a href="{{ .RelPermalink }}"><img class="rra-featured" src="{{ .Params.featured_image }}" alt="{{ .Params.featured_image_alt }}">
    <p class = "rra-programme-title">
      {{ .Params.event_date }} | {{ .Title }}
  </p></a>
  {{ end }}
</div>

{{ end }}
