{{ define "main" }}

<marquee id = "ticker" behavior="scroll" direction="left" scrollamount="7">UPCOMING: <a href="/projects/reality-runs-away">Reality Runs Away – The Limits of Documentary</a></marquee>

<div id = "home-feature">
  <a href="/projects/reality-runs-away"><img src = "/img/rra-ani.gif" alt="Reality Runs Away – short film and moving image programme at Perch Arts">
  <h2>Reality Runs Away – The Limits of Documentary</h2></a>
  <p>
    Perch Arts presents three evenings of screenings, work by emerging artists that can be seen to interrogate notions of documentary, employed here in an expanded sense. The diverse array of works, including experimental montage, performance documentation and poetic essay works, placed in dialogue with each other, stage a debate about the relation of the cinematic medium to notions of truth and fiction, and stand alone as distinct works in and of themselves.
  </p>
  <p>
    Cyrus Hung, Rowan Ings, Kadeem Oak, Anastasia Perahia, Will Pham, Bella Riza, Jessie Russell-Donn, Tabitha Steinberg, Wilma Stone and Jing Xie
  </p>
</div>

{{ end }}
