{{ define "main" }}

<marquee id = "ticker" behavior="scroll" direction="left" scrollamount="7">UPCOMING: <a href="/projects/reality-runs-away">Reality Runs Away – The Limits of Documentary</a></marquee>

<div id = "home-feature">
  <a href="/projects/reality-runs-away"><img src = "/img/rra-ani.gif">
  <h2>Reality Runs Away – The Limits of Documentary</h2></a>
  <p>Cyrus Hung, Rowan Ings, Kadeem Oak, Anastasia Perahia, Will Pham, Bella Riza, Jessie Russell-Donn, Tabitha Steinberg, Wilma Stone and Jing Xie</p>
</div>

{{ end }}
